.music-card {
  display: flex;
  align-items: center;
  background-color: var(--surface); // Nền tối
  padding: 12px 16px; // Tăng padding ngang để làm dài div
  border-radius: 10px;
  width: 100%;
  color: var(--onSurface);
  cursor: pointer;


  &:hover {
    background-color: var(--surfaceContainer); // Tăng độ tương phản khi hover
  }

  .left-side{
    display: flex;
    flex-direction: row;
    width: 50%;
    .image {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      margin-left: 12px; // Tăng khoảng cách giữa ảnh và nội dung
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text-top {
        font-size: 16px; // Tăng kích thước chữ cho rõ hơn
        font-weight: bold;
        color: var(--onSurface);
      }

      .text-bottom {
        font-size: 14px; // Tăng kích thước chữ mô tả
        color: var(--onSurfaceVariant);
      }
    }
  }



  .right-side {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px; // Tăng khoảng cách giữa các icon
    font-size: 14px;
    color: #b3b3b3;

    .time {
      min-width: 40px; // Làm rộng số phút để cân đối
      text-align: right;
    }

    mat-icon {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: var(--onSurface);
      &:hover {
        color: #ffffff;
      }
    }
  }
}




