<div class="music-card">
  <div class="image">
    <img src="{{cardmusictab?.imageMusicTabs}}" alt="MusicAlbums">
  </div>

  <div class="content">
    <div class="text-top">
      <span class="title">{{cardmusictab?.textTopMusicTabs}}</span>
    </div>
    <div class="text-bottom">
      <span class="name">{{cardmusictab?.textBottomMusicTabs}}</span>
    </div>
  </div>

  <div class="right-side">
    <div class="time">{{cardmusictab?.timeMusicTabs}}</div>
    <mat-icon class="material-symbols-rounded">playlist_add</mat-icon>
    <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
  </div>
</div>
