<div class="music-card">
  <div class="left-side" (click)="playSong()">
    <div class="image">
      <img src="{{cardmusictab.image_url}}" alt="MusicAlbums">
    </div>

    <div class="content">
      <div class="text-top">
        <span class="title">{{cardmusictab.title}}</span>
      </div>
      <div class="text-bottom">
        <span class="name">{{cardmusictab.performer_ref | idToName | async }}</span>
      </div>
    </div>
  </div>


  <div class="right-side">

    <div class="time">{{cardmusictab.duration | durationToTime }}</div>

    @if(insideNextSong){
      <button  (click)="deleteSongToQueue(cardmusictab.id)" mat-icon-button>
        <mat-icon class="material-symbols-rounded">playlist_add_check</mat-icon>
      </button>
    } @else {
      <button  (click)="addToQueue(cardmusictab.id)" mat-icon-button>
        <mat-icon class="material-symbols-rounded">playlist_add</mat-icon>
      </button>
    }

    @if(isInPlaylist){
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" >
        <mat-icon class="material-symbols-rounded"  >library_add_check</mat-icon>
      </button>
    } @else {
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="openDialog()">
        <mat-icon class="material-symbols-rounded"  >library_music</mat-icon>
      </button>
    }

    @if (isRecycle){
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="openDialogDeleteSongFromDialog(cardmusictab)" >
        <mat-icon class="material-symbols-rounded">delete</mat-icon>
      </button>
    }


  </div>
</div>
