
<!--<div class="title-each-box">  <p>Artist recent</p><mat-icon>arrow_forward</mat-icon></div>-->
<!--  <div class="box-artists">-->
<!--    @for (songSS of this.songs; track $index) {-->
<!--      <app-artist-home-->
<!--        [id]="songSS.id"-->
<!--        [image]="songSS.image"-->
<!--        [nameArtist]="songSS.nameArtist"-->
<!--        [nameSong]="songSS.nameSong">-->
<!--      </app-artist-home>-->
<!--    }-->
<!--  </div>-->


<!--  <div class="title-each-box">  <p>Category</p><mat-icon>arrow_forward</mat-icon></div>-->
<!--  <div class="box-category">-->
<!--    @for (category of this.categories; track $index) {-->
<!--      <app-category-home-->
<!--        [id]="category.id"-->
<!--        [image]="category.image"-->
<!--        [title]="category.title">-->
<!--      </app-category-home>-->

<!--    }-->
<!--  </div>-->
  <div class="container-home">
  <div class="title-each-box">  <p>Trending</p><mat-icon>arrow_forward</mat-icon></div>

    <div class="carousel-container">
      <button class="scroll-btn left" (click)="scrollTrendingLeft()">
        <i class="material-icons">chevron_left</i>
      </button>

      <div class="box-carousel">
        @for (carousel of carousel; track $index) {
          <app-carousel-home [carousel]="carousel"></app-carousel-home>
        }
      </div>
      <button class="scroll-btn right" (click)="scrollTrendingRight()">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>

  <div class="box-empty"></div>
  <div class="title-each-box">  <p>Propose</p><mat-icon>arrow_forward</mat-icon></div>
  <div class="carousel-container">
    <button class="scroll-btn left" (click)="scrollMusicLeft()"><i class="material-icons">chevron_left</i></button>

    <div class="box-music-card" #musicCarousel>
      @for (song of song; track $index ) {
        <app-music-card [song]="song"></app-music-card>
      }
    </div>
    <button class="scroll-btn right" (click)="scrollMusicRight()"><i class="material-icons">chevron_right</i></button>
  </div>

</div>




