
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--scrim);
  text-align: center;
  padding: 20px;
  height: 100%;
}

.logo-melos {
  width: auto;
  height: 75px;
}

h2 {
  color: var(--onSurface);
  font-size: 24px;
  margin-bottom: 20px;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 250px;
  height: 48px;
  background-color: var(--surface);
  color: var(--onSurface);
  border-color: var(--surface);

  &:hover {
    background-color: var(--onBackground);
    color: var(--surface);
  }
}

.google-icon {
  margin-right: 15px;
  width: 24px ;
  height: 24px;
}


