



<div class="container">
  <div class="container">
    <div class="logo-rhyza">
      <img src="https://fgmqtjkceqrmqzpqjtmc.supabase.co/storage/v1/object/public/songs//Rhyza%20Logo.png" alt="logo" class="logo-melos" />
      <p>Rhyza</p>
    </div>
    <h2><mat-icon>touch_app</mat-icon>Just one click, and Rhyza takes you deep into the world of perfect music.<mat-icon>music_note</mat-icon></h2>
    <button (click)="login()" class="google-login" >
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png"
           alt="Google Icon" class="google-icon" />
      Login with Google
    </button>

  </div>


</div>

