.parent {
  display: grid;
  grid-template-columns: minmax(100px, 5%) 1fr;
  height: 100%;
}

.section-purple{
  padding: 40px 40px 130px 40px;
}



.loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}
