
  <div class="carousel">
    <div class="carousel-item">
      <article class="card">
        <img src="{{carousel.image_url}}" alt="">
      </article>
      <div class="carousel-title-container">
        <div class="carousel-title">
          <p>{{carousel.title}}</p>
          <p>{{carousel.performer_ref | idToName |async}}</p>
        </div>
        <div class="carousel-play-button">
          <button class="play-button">
            <i class="material-icons" (click)="playSong()">play_arrow</i>
          </button>
        </div>
      </div>
    </div>
</div>

