.carousel{
  width: 500px;
  height:270px;
  //background-color: red;

  .carousel-item{
    width: 100%;
    height: 100%;
    //background-color: blue;
  }

  .card{
    width: 100%;
    height: 80%;
    //background-color: green;

    img{
      width: 100%;
      height: 100%;
      border-radius: 8px;
      display: block;
      object-fit: cover;
      border: none;
    }
  }
  .carousel-title-container{
    width: 100%;
    height: 20%;
    //background-color: yellow;
    display: flex;

  }
  .carousel-title{
    width: 50%;
    height: 100%;
    //background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p{
      margin: 5px 0 0 0;
    }
  }


  .carousel-play-button{
    width: 50%;
    height: 100%;
    //background-color: orange;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .play-button{
      width: 40px;
      height: 40px;
      background-color: var(--inversePrimary);
      color: var(--onSurface);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      margin: 5px 0 0 0;
    }

    .play-button:hover{
      background-color: var(--primaryContainer);
      color: var(--surface);
      transform: scale(1.1);
    }
  }


}
