.picture-text{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--scrim);
  padding: 12px;
  cursor: pointer;
  border-radius:16px;
  transition: transform 0.3s ease, background-color 0.3s ease;

}



.picture{
  width: 150px;
  height: 150px;

}
.picture img{
  height: 100%;
  width: 100%;
  border-radius: 16px;
  object-fit: cover;

}
.picture-text:hover {
    transform: scale(1.1); /* Phóng to 10% */
    background-color: rgba(255, 255, 255, 0.1); /* Màu nền nhạt khi hover */
  border-radius:16px;

}
.text{
  padding: 8px;
}
.text span{
  font-size: 14px;
  color: var(--onSurface);
}

.text p{
  font-size: 12px;
  color: var(--onSurfaceVariant);
  margin-top: 5px;
}

