<div class="container-music-card" (click)="playSong()">
  <div class="container">

    <mat-card class="example-card">
      <div class="image-container">
        <img mat-card-image src="{{ song.image_url }}" alt="Song Image">
        <button mat-icon-button class="play-btn" (click)="togglePlayPause()">
          <mat-icon class="material-symbols-rounded">{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
        </button>
      </div>
      <mat-card-content>
        <mat-card-title class="title-music">{{ song.title }}</mat-card-title>
        <mat-card-subtitle class="title-artist">{{ song.performer }}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
