.container-music-card {
  max-width: 1720px;
}
.container {
  width: 100%;
}
.example-card {
  width: 150px;
  min-width: 150px;
  height: 210px;
  min-height: 210px;
  border: none;
  background-color: var(onSecondary);
  position: relative;
}
.image-container {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}
.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}
.play-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  background-color: var(--inversePrimary);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  color: var(--onSurface);
}
.play-button i {
  font-size: 22px;
}
.example-card:hover .play-button {
  opacity: 1;
}
.play-button:hover {
  background-color: var(--primaryContainer);
  color: var(--surface);
  transform: scale(1.1);
}

.title-music {
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-artist {
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
