.container{
    height: 100vh;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.header{
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h4 {
  color: var(--onSurface);
}
.rectangle{
  background-color: black;
  color: var(--onSurfaceVariant);
  border: 1px solid var(--onSurfaceVariant);
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}
.material-symbols-rounded{
  margin-left: 15px;
}
.main{
  height: 70%;
  display: flex;
  justify-content: flex-start;
}
.bottom{
  background-color: green;
  height: 10%;
}

