.container{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.header{
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h4 {
  color: var(--onSurface);
}
.rectangle{
  background-color: black;
  color: var(--onSurfaceVariant);
  border: 1px solid var(--onSurfaceVariant);
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}

.main{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 100%;

}


