  @if((this.is_loading$ | async)){
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="container">
    <div class="header">
      <h4>Category</h4>
<!--      <div class="box-search">-->
<!--        <input type="text"-->
<!--        placeholder="Search"-->
<!--               [formControl]="searchControl"/>-->
<!--        <mat-icon class="icon-search">search</mat-icon>-->
<!--      </div>-->
      <mat-form-field appearance="outline" class="box-search">
        <mat-label>Search</mat-label>
        <input matInput
               [formControl]="searchControl">
      </mat-form-field>
    </div>
    <div class="main">


      <!-- Hiển thị danh mục khi đã tải xong -->
      <ng-container >
        @for (item of filteredCategories.length > 0 ? filteredCategories : categoryList; track item.id) {
          <app-category-card [item]="item"></app-category-card>
        }
      </ng-container>
    </div>

  </div>
}
