<div class="container">
  <div class="header">
    <h4>Category</h4>
    <div class="right-side">
      <button class="rectangle">Genre
        <mat-icon class="material-symbols-rounded">keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>
  <div class="main">
<!--        <mat-card class="picture-text">-->
<!--          <div class="picture">-->
<!--            <img mat-card-sm-image src="" height="100%" width="100%">-->
<!--          </div>-->
<!--          <div class="text">-->
<!--            <span></span>-->
<!--            <p></p>-->
<!--          </div>-->

<!--          </mat-card>-->
  </div>
  <div class="bottom"></div>
</div>

