<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Placeholder"
           (input)="onValueChange($event)"
           (keyup.enter)="onEnter($event)"
    >
  </mat-form-field>
  <div class="header">

    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds">
      @for (page of search; track page) {
        <mat-chip-option (click)="navigate(page.route)"
                         [selected]="this.activeLink === page.route"
                         (selectionChange)="onSelectionChange($event, page.route)">{{page.name}}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
