.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--onPrimary);
  font-size: 1.5rem;
  font-weight: 500;
}

.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: var(--surface);
  color: var(--onSurface);
}

::ng-deep .mdc-evolution-chip-set__chips{
  flex-flow: row !important;
}

