#upload-main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

#upload-title{
  display: flex;
  flex-direction: column;
  justify-items: center;

  h2{
    font-size: 1.5rem;
    margin: 0;
  }

}




#upload-box{
  border: 2px dashed white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 300px;
  width: 100%;
  border-radius: 25px;
  cursor: pointer;

  #upload-icon {

    .material-symbols-rounded {
      justify-items: center;
      font-size: 90px;
      width: fit-content;
      height: fit-content;
    }
  }

}

#upload-option{

  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  justify-content: space-between;

  #upload-image {
    width: 370px; /* Giữ nguyên width */
    height: 210px; /* Giữ nguyên height */
    border: 2px dashed rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    //padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;

  }

  label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }

  #upload-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  .hide-border {
    border: none !important;
    background: transparent !important;
  }

  #upload-option-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    #upload-option-3{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .example-form-field{
        width: 100%;
      }


    }
  }
  mat-form-field {
    width: 100%;
  }

  #upload-song-name{

    .example-form-field{
      width: 100%;
    }
}
}

#upload-button{
  justify-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  height: 50px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
p{
  margin: 0;
}

.artist-genre-container{
  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: space-between;
}



#upload-lyric {
  .example-form-field {
    width: 100%;
  }
}


#upload-artist-name{
  padding: 0;
  margin: 0;
  width: 45%;
  .example-form-field{
    width: 100%;
  }
}

#upload-select{
  width: 45%;

  .genre-select{
    width: 100%;
  }
}

#file-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  max-height: 100px;
  overflow-y: auto;
}
#audio-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#audio-preview ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#audio-preview li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.audio-icon {
  width: 90px;
  height: 90px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#audio-preview {
  display: block !important; /* Đảm bảo nó không bị ẩn */
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
